.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.columna1, .columna2, .columna3 {
    width: 100%;
    
}
article {
    border: 4px solid #000000;
}
.columna1 {
    background: red;

}
.columna2 {
    background: green;

}
.columna3 {
    background: blue;
}


@media (min-width: 600px) {
    .columna1 {
        width: 60%;
        -webkit-order: 2;
        order: 2;
    }
    .columna2 {
        width: 40%;
        -webkit-order: 1;
        order: 1;
    }
    .columna3 {
        width: 100%;
        -webkit-order: 3;
        order: 3;
    }
}

@media (min-width: 800px) {
    .columna1,
    .columna3 {
        width: 20%;
    }
}
